<table>
    <tr>
        <th>Delete</th>
        <th>Title</th>
        <th>Author</th>
        <th>When</th>
    </tr>
</table>
<table>
    <form action = '/deleteForm' method = "post">
    {{#each notes}}
    <tr>
        <td><input type = "checkbox" name = {{_id}}></td>
        <td><a href = '/note/{{_id}}'>{{user_title}}</a></td>
        <td>{{user_author}}</td>
        <td>{{datetime}}</td>
    </tr>
    {{/each}}

</table>
        <button type = "submit"> Delete selected</button>
    </form>